@{
    ViewBag.Title = "Home Button";
}

<!--Content -->
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="input-group-lg">
                    Name:
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="col-md-2"></div>

            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="input-group-lg">
                    Description:
                </div>
                <textarea name="textarea-input" class="form-control" id="textarea-input" placeholder="Content..." rows="4"></textarea>
                <p></p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <div class="col-md-1">
                <input class="btn btn-warning" type="button" value="Save">
            </div>
            <div class="col-md-1">
                <input class="btn btn-danger" type="button" value="Cancel">
            </div>
            <div class="col-md-4"></div>
        </div><!-- .row -->
    </div><!-- .animated -->
</div><!-- .content -->
