@{
    ViewBag.Title = "Home Button";
}

<!--Content -->
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-6">
                <h2>Create test:</h2>
            </div>


            <div class="col-md-12">
                <div class="row">
                    <div class="col-md">
                        <div class="input-group-lg">
                            Name:
                        </div>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="input-group-lg">
                            Description:
                        </div>
                        <textarea name="textarea-input" class="form-control" id="textarea-input" placeholder="Content..." rows="4"></textarea>
                        <p></p>
                    </div>
                    </div>
                </div>

            </div><!-- .row -->

     
        <div class="row justify-content-end">
            <div class="col-3">
                <input class="btn btn-success col-lg" type="button" value="Save">
            </div>
            <div class="col-3">
                <input class="btn btn-danger col-lg" type="button" value="Cancel">
            </div>
        </div>


    </div><!-- .animated -->
</div><!-- .content -->
